################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/netTimeAutomation/bin/Debug/net9.0
/netTimeAutomation/obj
/.vs
/netTimeAutomation/.vs
/netTimeAutomation/bin/Debug/net10.0
/netTimeAutomation/bin/Debug/net10.0-windows
